<% if user_signed_in? %>
<p>Ready to make a difference?</p>
<br>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <h4>Recent ideas based on your interests</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <h6><%= @rand.title %></h6>
      <p><%= @rand.description %></p>
      <p class="beneath">This project is taking place in <%= @rand.location %></p>
    </div>
  </div>

<%= render "comments/form_for_user" %>
<% end %>

