// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	margin-top: 35px;

}

body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Open Sans', sans-serif;
}
h4{
	font-family: 'Open Sans', sans-serif;
}

.img-responsive{
	display: block;
	height: auto;
	max-width: 100%;
}

a{
	color: #E26966
}

body{


}

