// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	margin-top: 35px;

}

body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Open Sans', sans-serif;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h5{
	font-family: 'Open Sans', sans-serif;
}
h6{
	font-family: 'Open Sans', sans-serif;
	color: #E26966;
}

.red{
	color: #E26966;
}


.beneath{
	font-size: .8em;
}

.img-responsive{
	display: block;
	height: auto;
	max-width: 100%;
}

a{
	color: #E26966
}

body{


}

.left_space{
	padding-left: 35px;
}

.floater{
	margin-top: 5px;
	float: right;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}